<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>信和财富</title>
<link href="../style/css/style.css" rel="stylesheet">
<link href="../style/css/common.css" rel="stylesheet">
</head>
<body>
<a name="page_top" id="page_top" href="#page_top"></a>
<!--header-->
<div class="header">
  <div class="head width90">
    <div class="menu"></div>   
    <h2 class="logo"><img src="../style/images/logo.png" alt=""></h2>
  </div>
  <ul class="menu_li">
      <li _linkto="xhcf">信和财富</li>      
      <li _linkto="news">新闻动态</li>     
      <li _linkto="app">APP下载</li>
      
    </ul>
</div>

<!--header end--> 
<div id="super_mask_layer" style=" display: none; position: absolute;top:0px;left: 0px;z-index: 200; opacity:0;filter:alpha(opacity:0); background-color:#fff; "></div>

<!-- 新闻动态部分 -->
<div style="height:44px;"></div>
<!-- 焦点图 -->
<div id="slideBox" class="slideBox">
  <!-- <div id="mask_div" status="off" style="display:none;position: absolute;top: 0; left:0;width: 100%; height: 500px; z-index: 100;opacity:80;filter:alpha(opacity=0); "></div> -->
  <div class="bd">
    <ul id="slide_ul">
        <!-- <li><a class="pic" href="javascript://"><img src="%s" url="%t" class="pic_img" /></a></li> -->        
    </ul>
  </div>

  <div class="hd">
    <ul></ul>
  </div>
</div>
<!-- 焦点图完毕 -->

<!-- 二级标题开始 -->
<h3 class="con"><span>新闻动态</span></h3>
<!-- 二级标题结束 -->
<!-- 首页资讯内容开始 -->
<div id="index_hg"></div>
<ul class="index_cont">
  <!-- <li>金融互联 创新发展信和财富出席亚洲全国城市慈善</li>
  <li>金融互联 创新发展信和财富出席亚洲全国城市慈善</li>
  <li>金融互联 创新发展信和财富出席亚洲全国城市慈善</li>
  <li>金融互联 创新发展信和财富出席亚洲全国城市慈善</li>
  <li>金融互联 创新发展信和财富出席亚洲全国城市慈善</li> -->
</ul>
<div class="more"><a href="javascript:;" _currentPage="1">更多资讯</a></div>

 <!-- 首页资讯内容结束 -->

<!-- 产业链接部分 -->
<div>
<!-- 二级标题开始 -->
 <h3 class="con"><span>板块介绍</span></h3> 
<!-- 二级标题结束 -->
  <!-- 产品链接内容开始 -->
  <div class="main" id="inWidth">    
        <div class="link-right fr ">
          <a href="http://m.xinhe99.com/" class="xinhe99 p-r bg1"><img src="../style/images/xinhe99.png"></a>
          <a href="huijin_xwdt.html" class="xinheHJ p-r bg3 mgc"><img src="../style/images/xinheHJ.png"></a>
        </div>
        <div class="link-left fl">
          <a href="caifu_xwdt.html" class="xinheCF p-r bg4"><img src="../style/images/xinheCF.png"></a>
          <a href="http://36.7.122.108:8088/chatOnline/business/chatOnline/talk.jsp?bid=1464600709039
" class="xinheHC p-r bg2 mgc"><img src="../style/images/xinheHC.png"></a>
        </div>
        <div class="clearfix"></div>
  </div>   
</div>

<!-- 网店查询部分
<div>
    二级标题开始
    <h3 class="con"><span>网店查询</span></h3>
    二级标题结束
    <div class="storelist">
      <ul>
        <li class="borshow cblack"><span>河北省</span><span>邯郸市</span><span>XX营业部名字</span></li>
        <li><span>河北省</span><span>邯郸市</span><span>XX营业部名字</span></li>
        <li><span>河北省</span><span>邯郸市</span><span>XX营业部名字</span></li>
        <li><span>河北省</span><span>邯郸市</span><span>XX营业部名字</span></li>
        <li><span>河北省</span><span>邯郸市</span><span>XX营业部名字</span></li>
      </ul>
    </div>
    <div class="storeshowd  mg-t20 lh24">
      <div class="sshowtel font15">   
        电话：0333-12345678
      </div>
      <div class="sshowads font15">     
        地址：XXXXXXXX路XXXXXXX街XXXXX号
      </div>
    </div>
</div> -->

<!-- 下载APP部分 -->
<a name="download_app" id="download_app"></a>
<!-- <div style="height:44px;width:100%;"></div> -->
<div class="mar_bot">
<!-- 二级标题开始 -->
<h3 class="con"><span>下载APP</span><em>请使用浏览器打开下载</em></h3>
<!-- 二级标题结束 -->

<!-- APP内容 --> 
<div class="down">
  <div class="xinheHJ clearfix mg-r20 bottom pd-b10">
         <div class="icon-col p-r bg3 fl"><img src="../style/images/xinheHJ.png" alt=""></div>
         <div class="down-con fr mg-r">
         <h3 class="pd-t15 font12">信和汇金</h3>
         <p class="pd-t10 font8"><a href="http://125.39.6.13/dd.myapp.com/16891/75FC3358C21A9165F956CF6568A2812C.apk?mkey=56611e9a73c8d492&f=168a&fsname=xh.xinhehuijin_1.0.2_3.apk&asr=02f1&p=.apk" class="c0d72c5">Andriod 下载</a>&nbsp;&nbsp;  <a href="https://itunes.apple.com/us/app/xin-he-hui-jin/id989677304?l=zh&ls=1&mt=8" class="c0d72c5">Iphone 下载</a></p>
      </div>
  </div>
  <div class="xinheCF clearfix bottom pd-b10" style="margin-top:-1px;">
      <div class="icon-col p-r bg4 fl" id="icos"><img src="../style/images/xinheCF.png" alt=""></div>
      <div class="down-con fr mg-r">
         <h3 class="pd-t15 font12">信和财富</h3>
         <p class="pd-t10 font8"><a href="http://113.200.90.147/dd.myapp.com/16891/9E1C9BC0565EB97720D8DCCE02DF6B8F.apk?mkey=56611e6673c8d492&f=188a&fsname=com.xh.xinhe_1.0.2_3.apk&asr=02f1&p=.apk" class="c0d72c5">Andriod 下载</a>&nbsp;&nbsp; <a href="https://itunes.apple.com/us/app/xin-he-cai-fu/id1023318417?l=zh&ls=1&mt=8 
" class="c0d72c5">Iphone 下载</a></p>
      </div>
  </div>
  <div class="xinheCF clearfix bottom pd-b10" style="margin-top:-1px;">
        <div class="icon-col p-r bg5 fl" id="icos"><img src="../style/images/zichanjia.png" alt=""></div>
        <div class="down-con fr mg-r">
           <h3 class="pd-t15 font12">资产家</h3>
           <p class="pd-t10 font8"><a href="http://app.xinhe99.com/pxq_app/download/DjrZcj.apk" class="c0d72c5">Andriod 下载</a>&nbsp;&nbsp; <a href="http://itunes.apple.com/cn/app/id1060020723
" class="c0d72c5">Iphone 下载</a></p>
        </div>
  </div>
  <!-- <div class="xinhe99 clearfix bottom pd-b10">
       <div class="icon-col p-r bg1 fl"><img src="../style/images/xinhe99.png" alt="" style="width:79%"></div>
       <div class="down-con fr mg-r">
         <h3 class="pd-t15 font12">信和大金融</h3>
         <p class="pd-t10 font8"><a href="download" class="c0d72c5">Andriod 下载</a> &nbsp;&nbsp; <a href="download" class="c0d72c5">Iphone 下载</a></p>
      </div>
  </div> -->
  <div class="OCR clearfix bottom pd-b10">
       <div class="icon-col p-r bg1 fl"><img src="../style/images/ocr.png" alt="" style="width:79%"></div>
       <div class="down-con fr mg-r">
         <h3 class="pd-t15 font12">ocr（业务助手）</h3>
         <p class="pd-t10 font8"><a href="http://chsalesapp.creditharmony.cn/ocrAppServer/download/XinHeSales.apk" class="c0d72c5">Andriod 下载</a> &nbsp;&nbsp; <a href="https://itunes.apple.com/us/app/xin-he-ye-wu-zhu-shou/id1042928457?l=zh&ls=1&mt=8" class="c0d72c5">Iphone 下载</a></p>
      </div>
  </div>
  <!-- <div class="xinheHC clearfix bottom pd-b10">
        <div class="icon-col p-r bg2 fl"><img src="../style/images/xinheHC.png" alt=""></div>
        <div class="down-con fr mg-r ">
         <h3 class="pd-t15 font12">信和汇诚</h3>
         <p class="pd-t10 font8"><a href="download" class="c0d72c5">Andriod 下载</a> &nbsp;&nbsp;  <a href="download" class="c0d72c5">Iphone 下载</a></p>
      </div>
  </div>
  <div class="xinheHJ clearfix mg-r20 bottom pd-b10">
         <div class="icon-col p-r bg3 fl"><img src="../style/images/xinheHJ.png" alt=""></div>
         <div class="down-con fr mg-r">
         <h3 class="pd-t15 font12">信和汇金</h3>
         <p class="pd-t10 font8"><a href="http://125.39.6.13/dd.myapp.com/16891/75FC3358C21A9165F956CF6568A2812C.apk?mkey=56611e9a73c8d492&f=168a&fsname=xh.xinhehuijin_1.0.2_3.apk&asr=02f1&p=.apk" class="c0d72c5">Andriod 下载</a>&nbsp;&nbsp;  <a href="https://itunes.apple.com/us/app/xin-he-hui-jin/id989677304?l=zh&ls=1&mt=8" class="c0d72c5">Iphone 下载</a></p>
      </div>
  </div> -->
</div>
</div>
<!--APP内容结束 -->
<!-- footer底部开始 -->
<div class="footer clearfix">
  <a class="footer_left" href="tel:4000901199">电话咨询</a>
  <a class="footer_right" href="http://36.7.122.108:8088/chatOnline/business/chatOnline/talk.jsp?bid=1464600709039
">在线客服</a>
</div>
<!-- footer底结束 -->

<script src="../scripts/libs/zepto.min.js"></script> 
<script src="../scripts/libs/TouchSlide.1.1.js"></script>
<script src="../scripts/service/common.js"></script>
<script src="../scripts/controller/xwdt.js"></script>
<script src="../scripts/libs/fastclick.js"></script>

<script type="text/javascript" charset="utf-8" src="http://gate.looyu.com/52774/118489.js"></script>
<script type="text/javascript" src="http://creditharmony.cn/sites/all/themes/basic/js/build/looyu.js?nzue0l"></script>
<script type="text/javascript">
//调整距离
var icos = document.getElementById("icos");
var icosWidth = icos.clientWidth;
$(".icon-col").css("height",icosWidth+"px");
//产品链接模块
var ss = document.getElementById("inWidth"),
ssWidth = ss.clientWidth,
spad = ssWidth*0.024;
$(".mgc").css("margin-top",spad+"px");
</script>
</body>
</html>