<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>信和财富</title>
<link href="../style/css/style.css" rel="stylesheet">
<link href="../style/css/common.css" rel="stylesheet">
</head>
<body>
<a name="page_top" id="page_top" href="#page_top"></a>
<!--header-->
<div class="header">
  <div class="head width90">
    <div class="menu"></div>
    <h2 class="logo"><img src="../style/images/logo.png" alt=""></h2>
  </div>
  <ul class="menu_li">
      <li _linkto="xwdt">信和财富</li>
      <li _linkto="news">新闻动态</li>
      <li _linkto="app">APP下载</li>
    </ul>
</div>
<!--header end--> 
<div id="super_mask_layer" style=" display: none; position: absolute;top:0px;left: 0px;z-index: 200; opacity:0;filter:alpha(opacity:0); background-color:#fff; "></div>
<div style="height:44px;"></div>
<div class="minbox">
 <div class="detailstitle font12 center mg-t10 " name="title">
 </div>
 <div class="detailscontent font8 height10 mg-t10" name="textbody">
 </div>
</div>
<div class="loading">
  <img src="../style/images/loading.gif" alt="">
  <div class="loading_zi">请稍后...</div>
</div>
<!-- footer底部开始 -->
<div class="footer clearfix">
  <a class="footer_left" href="tel:4000901199">电话咨询</a>
  <a class="footer_right" href="http://36.7.122.108:8088/chatOnline/business/chatOnline/talk.jsp?bid=1464600709039
">在线客服</a>
</div>
<!-- footer底结束 -->
<script src="../scripts/libs/fastclick.js"></script>
<script src="../scripts/libs/zepto.min.js"></script> 
<script src="../scripts/service/common.js"></script>
<script src="../scripts/controller/xwxxy.js"></script>

<script type="text/javascript" charset="utf-8" src="http://gate.looyu.com/52774/118489.js"></script>
<script type="text/javascript" src="http://creditharmony.cn/sites/all/themes/basic/js/build/looyu.js?nzue0l"></script>
</body>
</html>